@import "../../theme.scss";
.seriesListPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 $spacing-xl$spacing-xl;

  &__seriesList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: $spacing-m $spacing-s;
    &__link {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: $fontColor-dark;

      &__informationSerie {
        padding: 15px $spacing-s;

        &__title {
          font-weight: $bold-weight;
          font-size: x-small;
          padding-bottom: $spacing-xs;
        }

        &__date {
          font-size: xx-small;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
  &__buttonContent {
    padding: $spacing-xl 0;
    display: flex;
    justify-content: center;
    width: 100%;

    &__button {
      width: 100%;
      padding: $spacing-s 0;
      background-color: rgb(0, 0, 94);
      color: $fontColor-light;
      font-weight: $bold-weight;
      border-radius: $spacing-s;
      border: 1px solid black;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  }

  @media (max-width: 800px) {
    &__seriesList {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 680px) {
    &__seriesList {
      grid-template-columns: repeat(2, 1fr);
      gap: $spacing-xl $spacing-xl;
    }
  }
}
