// spacing
$spacing-xs: 5px;
$spacing-s: 10px;
$spacing-m: 20px;
$spacing-l: 30px;
$spacing-xl: 40px;

// font weight
$normal-weight: 400;
$bold-weight: 700;

//color font
$fontColor-dark: black;
$fontColor-light: white;

//background color
$normalBg: white;

//font size
$fontSize-xs: 0.9rem;
$fontSize-s: 1rem;
$fontSize-m: 1.1rem;
$fontSize-l: 1.2rem;
$fontSize-xl: 1.3rem;
$fontSize-xxxl: 2.2rem;
